body{
    margin: 0;
}

button{
    display: block;
    cursor: pointer;
    align-self: flex-start;
}

li{
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
}

a{
    text-decoration: none;
    color: black;
    padding: 2vw;
    font-family: monospace;
}

nav{
    width: 100vw;
    background-color: #D6EFFF;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
}

a:hover{
    background-color: #C6E9FF;
}

@media only screen and (max-width: 500px) {
    ul{
        flex-direction: column;
    }
    li{
        margin: 0;
    }
    a{
        display: block;
    }
    button{
        display: block;
        padding: 2vw;
        font-size: 3vh;
        background-color: #AFE0FF;
        border: none;
        outline: none;
        cursor: pointer;
    }
}
